p {
    font-weight: 200;
    font-size: small;
    color: black;
}

a {
    font-weight: 200;
    font-size: small;
    color: black;
}

input {
    font-weight: 200;
    font-size: small;
    color: black;
}

textarea {
    border-radius: 10px;
    font-weight: 200;
    font-size: small;
    color: black;
    padding: 15px 2% 15px 2%;
    margin: 15px 0 15px 0;
    border: 1px solid #D6D6D6;
}

h1 {
    font-weight: 400 !important;
    font-size: xx-large !important;
    color: black;
}

/* ===== FRONT PAGE ===== */

.clear { 
    clear:both;
}

.mainContainer {
    width:70%;
    margin: 2% 15% 2% 15%;
}

.postCardContainer {
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    padding: 15px 2% 15px 2%;
    margin: 15px 0 15px 0;
    border: 1px solid #D6D6D6;
}

.voteContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 16px 0 0;
}

.gedditContainer:hover{
    font-weight: 200;
    font-size: xx-large;
    color: black;
    padding-right: 24px;
    text-decoration: none;
}

.gedditContainer {
    font-weight: 200;
    font-size: xx-large;
    color: black;
    padding-right: 24px;
}

.postTitleFont {
    font-weight: 400;
    font-size: large;
    color: black;
}

.postBodyFont {
    font-weight: 200;
    font-size: medium;
    color: black;
}

.postUserFont {
    font-weight: 200;
    font-size: small;
    color: black;
}

.postCommentFont {
    font-weight: 200;
    font-size: small;
    color: black;
}

.scoreNumberFont {
    font-weight: 400;
    font-size: medium;
    color: black;
}

.textAreaContainer {
    width: 100%;
    margin: 5px 0 10px 0;
}

.submitContainer {
    /* width: 100%; */
    float: right;
    margin: 2px 0 10px 0;
}

.regularButton {
    font-weight: 300;
    font-size: medium;
    color: white;
    background-color: rgb(51, 159, 248);
    padding: 10px 16px 10px 16px;
    border-radius: 10px;
    border: 1px solid white;
}

.textInput {
    padding: 10px 16px 10px 16px;
    border-radius: 10px;
    border: 1px solid #D6D6D6;
}

.textInput.navbar {
    margin: 0 18px 0 0;
}

/* ===== LOGIN PAGE ===== */

.loginContainer {
    margin: 5% 33% 5% 33%;
    display: flex;
    flex-direction: column;
}

.loginTextInput {
    width: 100%;
    margin: 0.5% 0% 1% 0%;
}

.loginSubmitButton {
    margin: 3.5% 0% 2% 0%;
}
